<html>
<head>
	<title>Browse Products</title>
</head>
<body>

		<div id = "name">

		</div>
		<div id = "categories">

			<h1> Choose a category </h1>

			<a href = "/browseproducts"> All Products</a>

			{{#each categories}}
				<a href = "/browsecategory?cat={{name}}">{{name}}</a>
			{{/each}}

		</div>

		<div>

			{{#each products}}
				<h1>{{name}}</h1>
				<a href = "/deleteproduct?name={{name}}">Delete</a>
				<a href = "/productorder?name={{name}}">Add to Cart</a>
			{{/each}}
		</div>

		<script>

		$.get("/getname", function(response){

			//console.log(response);
			
			$("#name").append("<h1>"+response.name+"</h1>");
			$("#name").append("<a href = '/buycart'>Buy Cart</a>");

		});

		</script>

</body>
</html>