<html>
<head>
	<title>Browse Products</title>
</head>
<body>

		<div id = "name">

		</div>
		<div id = "categories">

			<h1> Choose a category </h1>

			<a onclick='search("all")'> All Products</a>

			{{#each categories}}
				<a onclick = 'search({{name}})'>{{name}}</a> 
			{{/each}}

		</div>

		<div>
			<form action="searchcustomer" method="post">
				<label for = "search">Looking for a specific product?</label>
				<input type = "text" name = "search">
				<input id = "cat" type = "hidden" name = "category">
			    <input type="submit" value="Statistics">
			</form>

			<button onclick = "reset()">Reset</button>
		</div>

		<div>

			{{#each products}}
				<h1>{{name}}</h1>
				<h2>{{price}}</h2>
				<a href = "/productorder?name={{name}}">Add to Cart</a>
			{{/each}}
		</div>

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script>

		$(function() {
		    var cat = window.location.href.split("?")[1].split("&")[0].split("=")[1];

			$("#cat").val(cat);

			$.get("/getname", function(response){
				$("#name").append("<h1>"+response.name+"</h1>");
				$("#name").append("<a href = '/buycart'>Buy Cart</a>");
			});
		});

		function search(category){

			var product = window.location.href.split("?")[1].split("&")[1].split("=")[1];

			if(term == all){
				window.location.href = "/browseproducts?cat=&product="+product;
			}
			else{
				window.location.href = "/browseproducts?cat="+category+"&product="+product;
			}
		}

		function reset(){

			window.location.href = "/browseproducts?cat=&product=";
		}

		</script>

	</body>
</html>