<html>
<head>
 <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	<title>Browse Products</title>
</head>
<body>

		<div id = "name">

		</div>

		<div id = "links">

		</div>

		<div>
			<h1> Search for a Specific Product:</h1>

			<form action="searchcustomer" method="post">
				<label for = "search">Looking for a specific product?</label>
				<input type = "text" name = "search">
				<input id = "cat" type = "hidden" name = "category">
			    <input type="submit" value="Search">
			</form>

			<button style = "display: inline-block" onclick = "reset()">Reset Search</button>

			<div id = "results">

			</div>

		</div>

		<div id = "categories">
			<button onclick = "search('all')"> All Products </button><br>
			{{#each categories}}
				<button onclick = "search('{{name}}')">{{name}}</button><br>
			{{/each}}

		</div>

		<div id = "productswrap">

			<table id = "products">

				<tr>
					<th>Product Name</th>
					<th>Price:</th>
				</tr>

				{{#each products}}

					<tr>
						<td>{{name}}</td>
						<td>${{price}}</td>
						<td><a href = "/productorder?name={{name}}">Add to Cart</a></td>
					</tr>

				{{/each}}
			</table>

		</div>

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script>

		$(function() {
		    var cat = window.location.href.split("?")[1].split("&")[0].split("=")[1];

		    var product = window.location.href.split("?")[1].split("&")[1].split("=")[1];

		    if(product != ''){

		    	$("#results").append("<h3> Showing results for '"+product+"'");

		    }

			$("#cat").val(cat);

			$.get("/getname", function(response){
				$("#name").append("<h1>"+response.name+"</h1>");
				$("#name").append("<a href = '/buycart'>Buy Cart</a>");

				if(response.role == "owner"){
					$('#links').append("<p>Owner Pages:</p>");
					$('#links').prepend("<a href = '/products?cat=&product='>Products</a>");
					$('#links').prepend("<a href = '/categories'>Categories</a>");
				}
			});
		});

		function search(category){

			var product = window.location.href.split("?")[1].split("&")[1].split("=")[1];

			if(category == 'all'){
				window.location.href = "/browseproducts?cat=&product="+product;
			}
			else{
				window.location.href = "/browseproducts?cat="+category+"&product="+product;
			}
		}

		function reset(){

			window.location.href = "/browseproducts?cat=&product=";
		}

		</script>

	</body>
</html>