<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
    <title>Buy Cart</title>
</head>

<body style = "margin-left: 15px">

	<div id = "name">
	 
	</div>

	<div>
		<a href = "/browseproducts?cat=&product=">Back to Browse </a>
	</div>

	<div id = "cart">

		<h1> Your Cart: </h1>

		<table id = "products">

			<tr>
				<th>Product Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Product Total </th>
			</tr>

			<tr>

			{{#each cart}}
				<td> {{pname}} </td>
				<td> ${{price}} </td>
				<td>{{quantity}}</td>
				<td> ${{total}}</td>
			{{/each}}

			</tr>
		</table>

	</div>

	<h1>Grand Total: ${{total}}</h1>

	<form action = "/checkout" id = "checkout" method = "post">

		<label for = "creditcard"> Credit Card Number </label>
		<input type = "text" name = "creditcard" required>
		<input type = "submit" value = "Submit">

	</form>

</body>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script>

	$.get("/getname", function(response){

		//console.log(response);
		
		$("#name").append("<h1>"+response.name+"</h1>");

	});

</script>

</html>
