
<html>
<head>
	<title>Category Page</title>
</head>
<body>

	<div id = "error">

	</div>

	<div>
		<h1> Add a new category: </h1>
		<form action = "/addcategory" id = "category" method = "post">
			<label for = "name">Category Name:</label>
			<input type = "text" name = "name" placeholder="Category Name">
			<label for = "Description">Description:</label>
			<input type = "text" name = "description" placeholder="Description">
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>
	</div>

	<div>

		{{#each categories}}
		<h2>{{name}}</h2>
		<p>{{description}}</p>
		<a href = "/deletecat?name="+{{name}}> Delete </a>
		{{/each}}

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

	<script>

		$.get('/sesserror', function(response){

			if(response.retStatus === 'success'){
				$("#error").append("<h1>"+response.message+"</h1>");
			}
		});

	</script>
</body>
</html>