<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	<title>Category Page</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

	<div id = "error">

	</div>

	<div id = "name">

	</div>

	<div id = "links">
		<a href = '/'>Home</a>
		<a href = '/categories'>Categories</a>
		<a href = '/products?cat=&product='>Products</a>
		<a href = "/browseproducts?cat=&product=">Browse Products</a>
	</div>

	<div>

		<div id="updateform" style="display:none" title="">
					
			<h2> Update Category: </h2>

			<form action = "/updatecat" id = "categoryupdate" method = "post">

				<label for = "name"> Name: </label>
				<input id = "nameinput" type = "text" name = "name"><br>
				<label for = "desc"> Description: </label>
				<input id = "descinput" type = "textarea" name = "desc"><br>
				<input id = "nameO" type = "hidden" name = "nameO">
				<input type = "submit" value = "Submit">

			</form>

		</div>

		<h1> Add a New Category: </h1>
		<form action = "/addcategory" id = "category" method = "post">
			<label for = "name">Category Name:</label>
			<input type = "text" name = "name" placeholder="Category Name">
			<label for = "Description">Description:</label>
			<input type = "text" name = "description" placeholder="Description">
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>
	</div>

	<div>

		<h1> Current Categories: </h1>

		<table id = "products">

			<tr>
				<th>Category Name</th>
				<th>Description</th>
				<th>Items in Category</th>
			</tr>

			{{#each categories}}
			<tr>
				<td class = "name">{{name}}</td>
				<td> {{description}} </td>
				<td class = "pnum"> {{pnum}} items</td>
				<td class = "update"><a id="myLink" href="#" onclick="update('{{name}}', '{{description}}');">Update</a></td>
			</tr>
			{{/each}}
		</table>

	</div>

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>


		$(function() {
		    
		    $("#products tr").each(function(i, num){

		    	var name = $(this).find(".name").text();

		    	console.log($(this).find(".pnum").text().split(" "));

		    	if(parseInt($(this).find(".pnum").text().split(" ")[1]) == 0){
		    		$(this).append("<td class = 'update'><a href = '/deletecat?name="+name+"'> Delete </a><td>");
		    	}
		    	
		    });

		    $.get("/getname", function(response){
				$("#name").append("<h1>"+response.name+"</h1>");
				$("#name").append("<a href = '/buycart'>Buy Cart</a>");


			});

			$.get('/sesserror', function(response){

				if(response.message != "")
					$("#error").append("<h1>"+response.message+"</h1>");
			});
		});

		var dialog = $( "#updateform" ).dialog({
	      autoOpen: false,
	      height: 300,
	      width: 350,
	      modal: true
	    });

		function update(name, description){

			$("#updateform").css("display", "block");

			$("#nameinput").val(name);

			$("#descinput").val(description);

			$("#nameO").val(name);

			dialog.dialog("open");

		}

	</script>
</body>
</html>