
<html>
<head>
	<title>Category Page</title>
</head>
<body>

	<div>

		<h1> Add a new category: </h1>
		<form action = "/addcategory" id = "category" method = "post">
			<label for = "name">Category Name:</label>
			<input type = "text" name = "name" placeholder="Category Name">
			<label for = "Description">Description:</label>
			<input type = "text" name = "description" placeholder="Description">
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>
	</div>

	<div>

		{{#each categories}}
		<h2>{{name}}</h2>
		<p>{{description}}</p>
		{{/each}}

	</div>

</body>
</html>