<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
    <title>Product Database</title>
</head>

<body style = "margin-left: 15px">

	<div id = "name">
	 
	</div>

	<div id = "links">

		<a href = "/browseproducts?cat=&product=">Browse Products</a>

	</div>


</body>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script>

	$.get("/getname", function(response){

		//console.log(response);
		
		$("#name").append("<h1>"+response.name+"</h1>");
		$("#name").append("<a href = '/buycart'>Buy Cart</a>");
	});

	$.get("/getuser", function(response){

		if(response.role == "owner"){

			$('#links').prepend("<a href = '/products?cat=&product='>Products</a>");
			$('#links').prepend("<a href = '/categories'>Categories</a>");
		}
	});

</script>

</html>
