
<html>
<head>
	<title>Product Page</title>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
 	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

	<div>

		<div id = "message">

		</div>

		<div id = "name">

		</div>

		<div id = "links">
			<a href = '/'>Home</a>
			<a href = '/categories'>Categories</a>
			<a href = '/products?cat=&product='>Products</a>
			<a href = "/browseproducts?cat=&product=">Browse Products</a>
		</div>

		<h1> Add a New Product: </h1>
		<form action = "/addproduct" id = "product" method = "post">
			<label for = "name">Product Name:</label>
			<input type = "text" name = "name" placeholder="Product Name">
			<label for = "sku">SKU:</label>
			<input type = "text" name = "sku" placeholder="SKU">
			<label for = "category">Category:</label>
			<select name = "category" id = "category">
				{{#each categories}}
					<option>{{name}}</option>
				{{/each}}
			</select>
			<label for = "Price">Price:</label>
			<input type = "text" name = "price" placeholder="Price">
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>

		<div>

			<div id="updateform" style="display:none; width:200px " title="">
				
				<h2> Update Product: </h2>

				<form action = "/updateproduct" id = "productupdate" method = "post">

					<label for = "name"> Name: </label>
					<input id = "nameinput" type = "text" name = "name"><br>
					<label for = "price"> Price: </label>
					<input id = "priceinput" type = "text" name = "price"><br>
					<label for = "sku">SKU: </label>
					<input id = "sku" type = "text" name = "sku"><br>
					<label for = "category">Category: </label>
					<select name = "category" id = "category">
						{{#each categories}}
							<option value = "{{name}}" class = "catselect">{{name}}</option>
						{{/each}}
					</select><br>
					<input id = "nameO" type = "hidden" name = "nameO">
					<input type = "submit" value = "Submit">

				</form>

			</div>

			<div>
				<h1> Search for a Specific Product:</h1>

				<form action="search" method="post">
					<label for = "search">Looking for a specific product?</label>
					<input type = "text" name = "search">
					<input id = "cat" type = "hidden" name = "category">
				    <input type="submit" value="Search">
				</form>

				<button onclick = "reset()">Reset Search</button>

				<div id = "results">

				</div>

			</div>

			<div id = "categories">
				<button onclick = "search('all')"> All Products </button><br>
				{{#each categories}}
					<button onclick = "search('{{name}}')">{{name}}</button><br>
				{{/each}}
			</div>

			<div id = "productswrap">

				<table id = "products">

					<tr>
						<th>SKU</th>
						<th>Product Name</th>
						<th>Price:</th>
					</tr>

					{{#each products}}

						<tr>
							<td>{{sku}}</td>
							<td>{{name}}</td>
							<td>${{price}}</td>
							<td><a id="myLink" href="#" onclick="update('{{name}}', {{price}}, '{{sku}}', '{{category}}');">Update</a></td>
							<td><a href = "/deleteproduct?name={{name}}">Delete</a></td>
							<td><a href = "/productorder?name={{name}}">Add to Cart</a></td>
						</tr>

					{{/each}}
				</table>
			</div>

		</div>

	</div>

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>

		$(function() {
		    var cat = window.location.href.split("?")[1].split("&")[0].split("=")[1];

		    var product = window.location.href.split("?")[1].split("&")[1].split("=")[1];

		    if(product != ''){

		    	$("#results").append("<h3> Showing results for '"+product+"'");

		    }

			$("#cat").val(cat);

			$.get("/getname", function(response){
				$("#name").append("<h1>"+response.name+"</h1>");
				$("#name").append("<a href = '/buycart'>Buy Cart</a>");
			});

			$.get("/sesserror", function(response){

				if(response.message != ""){
					$("#message").append("<h2>"+response.message+"</h2>");
				}
			});
		});

		function search(category){

			var product = window.location.href.split("?")[1].split("&")[1].split("=")[1];

			if(category == 'all'){
				window.location.href = "/products?cat=&product="+product;
			}
			else{
				window.location.href = "/products?cat="+category+"&product="+product;
			}
		}

		function reset(){

			window.location.href = "/products?cat=&product=";
		}

		var dialog = $( "#updateform" ).dialog({
	      autoOpen: false,
	      height: 300,
	      width: 350,
	      modal: true
	    });

		function update(name, price, sku, category){

			$("#updateform").css("display", "block");

			$("#nameinput").val(name);

			$("#priceinput").val(price);

			$("#nameO").val(name);

			$("#sku").val(sku);

			dialog.dialog("open");

			$("#category option[value='"+category+"'']").attr('selected', 'selected');

			console.log(name);

			console.log(price);
		}

	</script>	
	</body>
</html>