<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
    <title>Product Order</title>
</head>

<body style = "margin-left: 15px">

	<div id = "name">
	 
	</div>

	<div id = "currentproduct">

		{{#each current}}
		<h1> {{name}} </h1>
		<p> {{price}} </p>
		{{/each}}
		<form action = "/addtocart" id = "product" method = "post">
			<label for = "quantity">Quantity to Add to Cart: </label>
			<input type = "number" name = "quantity">
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>

	</div>

	<div id = "cart">

	</div>

</body>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script>

	$.get("/getname", function(response){

		//console.log(response);
		
		$("#name").append("<h1>Welcome "+response.name+"</h1>");
	});

	var place = window.location.href.split("=")[1];

	console.log(place);

	var input = $("<input>").attr("type", "hidden").attr("name", "name").val(place);

	$('#product').append($(input));

</script>

</html>
