
<html>
<head>
	<title>Product Page</title>
 	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

	<div>

		<div id = "name">

		</div>

		<h1> Add a new product: </h1>
		<form action = "/addproduct" id = "product" method = "post">
			<label for = "name">Product Name:</label>
			<input type = "text" name = "name" placeholder="Product Name" required>
			<label for = "sku">SKU:</label>
			<input type = "text" name = "sku" placeholder="SKU"required >
			<label for = "Category">Category:</label>
			<select name = "category" id = "category" required>
				{{#each categories}}
				<option>{{name}}</option>
				{{/each}}
			</select>
			<label for = "Price">Price:</label>
			<input type = "text" name = "price" placeholder="Price" required>
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>

		<div>

			<div id="updateform" style="display:none" title="">
				
				<h2> Update Product: </h2>

				<form action = "/updateproduct" id = "productupdate" method = "post">

					<label for = "name"> Name: </label>
					<input id = "nameinput" type = "text" name = "name" required>
					<label for = "price"> Price: </label>
					<input id = "priceinput" type = "text" name = "price" required>
					<input id = "nameO" type = "hidden" name = "nameO">
					<input type = "submit" value = "Submit">

				</form>

			</div>

			<div>

				{{#each categories}}
					<a href = "/products?cat={{name}}&product=">{{name}}</a>
				{{/each}}
			</div>



			<input id = "search" type = "text">

			<button id = "searchbutton" onclick = "search();">Search</button>

			<div>
				{{#each products}}

					<div id = "{{name}}">
						<h1>{{name}}</h1>
						<h2>${{price}}</h2>
						<a id="myLink" href="#" onclick="update('{{name}}', {{price}});">Update</a>
						<a href = "/deleteproduct?name={{name}}">Delete</a>
						<a href = "/productorder?name={{name}}">Add to Cart</a>
					</div>

				{{/each}}
			</div>

		</div>

	</div>

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>

		function search(){

			var searchTerm = $("#search").val();

			var cat = window.location.href.split("?")[1].split("&")[0].split("=")[1];

			console.log(cat);

			$.get("/products?cat="+cat+"&product="+searchTerm);
		}

		$.get("/getname", function(response){

			//console.log(response);
			
			$("#name").append("<h1>"+response.name+"</h1>");
			$("#name").append("<a href = '/buycart'>Buy Cart</a>");

		});

		var dialog = $( "#updateform" ).dialog({
	      autoOpen: false,
	      height: 300,
	      width: 350,
	      modal: true
	    });

		function update(name, price){

			$("#updateform").css("display", "block");

			$("#nameinput").val(name);

			$("#priceinput").val(price);

			$("#nameO").val(name);

			dialog.dialog("open");

			console.log(name);

			console.log(price);
		}

	</script>	

</body>
</html>