
<html>
<head>
	<title>Product Page</title>
</head>
<body>

	<div>

		<h1> Add a new product: </h1>
		<form action = "/addproduct" id = "product" method = "post">
			<label for = "name">Product Name:</label>
			<input type = "text" name = "name" placeholder="Product Name" required>
			<label for = "Description">SKU:</label>
			<input type = "text" name = "sku" placeholder="SKU"required >
			<label for = "Category">Category:</label>
			<select name = "category" id = "category" required>
				{{#each categories}}
				<option>{{name}}</option>
				{{/each}}
			</select>
			<label for = "Price">Price:</label>
			<input type = "text" name = "price" placeholder="Price" required>
			<input type = "submit" placeholder="Submit" value = "Submit">
		</form>

		<div>

			{{#each products}}
				<h1>{{name}}</h1>
				<a href = "/deleteproduct?name={{name}}">Delete</a>
				<a href = "/productorder?name={{name}}">Add to Cart</a>
			{{/each}}
		</div>
	</div>

</body>
</html>