<html>
<head>
 <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	<title>Sales Analytics</title>
</head>
<body>

		<div id = "name">

		</div>

		<div id = "links">

		</div>

		<div id = "options">

			<form id = "optionsform" action = "/sales" method = "get">

				<label for = "rows"> Row Options:</label>
				<select name = "rows">
					<option value = "c" selected = "selected">Customers</option>
					<option value = "s">States</option>
				</select>
				<label for = "orders"> Order Options:</label>
				<select name = "orders">
					<option value = "a" selected="selected">Alphabetic</option>
					<option value = "t"> Top-K </option>
				</select>
				<label for = "sales"> Category Options:</label>
				<select name = "sales">
					<option value = "">All Categories</option>
					{{#each categories}}
						<option>{{name}}</option>
					{{/each}}
				</select>

				<input type = "submit" value = "Run Query">

			</form>

			<form id = "more" action = "/getmore" method = "post">

				<button type="submit" name="row" value="row">Get next 20 Rows</button>
				<button type="submit" name="col" value="col">Get next 10 Cols</button>
				<button type="submit" name="reset" value="reset">Reset Table</button>

			</form>
		</div>

		<div>

			<a href = "/doit"> Do it </a>
		</div>

		<div id = "salestable">

			<table>

				<tr> 
					<th>User</th>

					{{#each products}}
						<th>{{id}}</th>
					{{/each}}
				</tr>

				{{#each users}}
					<tr>
						<td>{{name}}</td>
						{{#each this.purchases}}
							<td>${{this.total}}</td>
						{{/each}}
					</tr>
				{{/each}}

			</table>

		</div>

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script>

		<!--

		// $(function() {

		// 	$.get("/getname", function(response){
		// 		$("#name").append("<h1>"+response.name+"</h1>");
		// 		$("#name").append("<a href = '/buycart'>Buy Cart</a>");

		// 		if(response.role == "o"){
		// 			$('#links').append("<p>Owner Pages:</p>");
		// 			$('#links').prepend("<a href = '/products?cat=&product='>Products</a>");
		// 			$('#links').prepend("<a href = '/categories'>Categories</a>");
		// 		}
		// 	});
		// });

		-->

		</script>

	</body>
</html>