<html>
<head>
 <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	<title>Sales Analytics</title>
</head>
<body>

		<div id = "name">

		</div>

		<div id = "links">

		</div>

		<div id = "options">

			<form id = "optionsform" action = "/getsales" method = "post">

				<label for = "rows"> Row Options:</label>
				<select name = "rows">
					<option value = "c" selected = "selected">Customers</option>
					<option value = "s">States</option>
				</select>
				<label for = "orders"> Order Options:</label>
				<select namee = "orders">
					<option value = "a" selected="selected">Alphabetic</option>
					<option value = "t"> Top-K </option>
				</select>
				<label for = "sales"> Category Options:</label>
				<select name = "sales">
					{{#each categories}}
						<option>{{name}}</option>
					{{/each}}
				</select>

				<input type = "submit" value = "Run Query">

			</form>
		</div>

		<div id = "salestable">

			<table>

			</table>

		</div>

		

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script>

		$(function() {

			$("#cat").val(cat);

			$.get("/getname", function(response){
				$("#name").append("<h1>"+response.name+"</h1>");
				$("#name").append("<a href = '/buycart'>Buy Cart</a>");

				if(response.role == "o"){
					$('#links').append("<p>Owner Pages:</p>");
					$('#links').prepend("<a href = '/products?cat=&product='>Products</a>");
					$('#links').prepend("<a href = '/categories'>Categories</a>");
				}
			});
		});

		</script>

	</body>
</html>